// src/CardList.scss
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  position: relative;
  width: 400px;
  margin: 16px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);

      .image {
        opacity: 0.5;
        background-color: black;
      }

    .learn-more {
      opacity: 1;
    }
  }

  h2 {
    margin-bottom: 8px;
    font-family: 'Lato', sans-serif;
  }

  .learn-more {
    padding-right: 150px;
    position : absolute;
    bottom: 325px;
    right: 100px;
    transform: translate(-50%, -50%);
    
    background-color: transparent;
    color:black;
    padding: 8px 16px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color:transparent;
    }
  }
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  
}
.image{
    width:400px;
    height: 300px;
    position: relative;
    
}

.modal-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);width: 100%; 
  max-width: 1200px; 
  max-height: 80vh; 
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;

  h2 {
    margin-bottom: 8px;
    font-family: 'Lato', sans-serif;
  }

  p {
    font-family: 'Lato', sans-serif;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
}
.images{
    width: 600px;
    height: 300px;
}
.avatar{
    border-radius: 50%;
    width:30px;
    height:30px;
}